FootballAIGame.Web/Service References/GameServerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddToLookingForRandomOpponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToLookingForRandomOpponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToLookingForRandomOpponentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromLookingForRandomOpponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromLookingForRandomOpponentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ai1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ai2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartMatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerCurrentMatchStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerCurrentMatchStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlayerCurrentMatchStepResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tournamentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanTournamentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromRunningTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromRunningTournamentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>