FootballAIGame.Web/Service References/GameServerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServerService_AddToLookingForRandomOpponent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToLookingForRandomOpponent" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_AddToLookingForRandomOpponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToLookingForRandomOpponentResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_RemoveFromLookingForRandomOpponent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromLookingForRandomOpponent" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_RemoveFromLookingForRandomOpponent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromLookingForRandomOpponentResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_StartMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_StartMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_CancelMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMatch" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_CancelMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_GetPlayerCurrentMatchStep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerCurrentMatchStep" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_GetPlayerCurrentMatchStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerCurrentMatchStepResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_PlanTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:PlanTournament" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_PlanTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlanTournamentResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_RemoveFromRunningTournament_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromRunningTournament" />
  </wsdl:message>
  <wsdl:message name="IGameServerService_RemoveFromRunningTournament_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromRunningTournamentResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServerService">
    <wsdl:operation name="AddToLookingForRandomOpponent">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/AddToLookingForRandomOpponent" message="tns:IGameServerService_AddToLookingForRandomOpponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/AddToLookingForRandomOpponentResponse" message="tns:IGameServerService_AddToLookingForRandomOpponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromLookingForRandomOpponent">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/RemoveFromLookingForRandomOpponent" message="tns:IGameServerService_RemoveFromLookingForRandomOpponent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/RemoveFromLookingForRandomOpponentResponse" message="tns:IGameServerService_RemoveFromLookingForRandomOpponent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/StartMatch" message="tns:IGameServerService_StartMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/StartMatchResponse" message="tns:IGameServerService_StartMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/CancelMatch" message="tns:IGameServerService_CancelMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/CancelMatchResponse" message="tns:IGameServerService_CancelMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerCurrentMatchStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/GetPlayerCurrentMatchStep" message="tns:IGameServerService_GetPlayerCurrentMatchStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/GetPlayerCurrentMatchStepResponse" message="tns:IGameServerService_GetPlayerCurrentMatchStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlanTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/PlanTournament" message="tns:IGameServerService_PlanTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/PlanTournamentResponse" message="tns:IGameServerService_PlanTournament_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromRunningTournament">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameServerService/RemoveFromRunningTournament" message="tns:IGameServerService_RemoveFromRunningTournament_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameServerService/RemoveFromRunningTournamentResponse" message="tns:IGameServerService_RemoveFromRunningTournament_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameServerService" type="tns:IGameServerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameServerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddToLookingForRandomOpponent">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/AddToLookingForRandomOpponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromLookingForRandomOpponent">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/RemoveFromLookingForRandomOpponent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/StartMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMatch">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/CancelMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerCurrentMatchStep">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/GetPlayerCurrentMatchStep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlanTournament">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/PlanTournament" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromRunningTournament">
      <soap12:operation soapAction="http://tempuri.org/IGameServerService/RemoveFromRunningTournament" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServerService">
    <wsdl:port name="NetTcpBinding_IGameServerService" binding="tns:NetTcpBinding_IGameServerService">
      <soap12:address location="net.tcp://127.0.0.1:50028/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:50028/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>